<div class="banner-section" id="bannerId">
    <swiper-container class="banner-swiper" 
    autoplay-delay="2500"
    autoplay-disable-on-interaction="false"
    effect="fade"
    >
    <!-- penggunaan @for untuk array -->
    @for (img of listImages; track img) {
    <swiper-slide>
        <img [src]="img" alt="banner-image" class="banner-image" />
    </swiper-slide>        
    }@empty {
        <swiper-slide>
            <h1>Data Kosong</h1>
        </swiper-slide>
    }

    <!-- di comment karena mencoba block syntax baru mengganti *ngFor dengan @for di versi angular 17 ke atas
    <swiper-slide *ngFor="let img of listImages">
        <img [src]="img" alt="banner image" class="banner-image" />
    </swiper-slide> -->


    <!-- di comment karena bisa menggunakan *ngFor. untuk versi 17 ke atas ngFor harus di import dulu di file .ts nya
     <swiper-slide>
        <img src="assets/images/bg2.jpg" alt="banner image" class="banner-image">
    </swiper-slide>
    <swiper-slide>
        <img src="assets/images/bg3.jpg" alt="banner image" class="banner-image">
    </swiper-slide> -->
</swiper-container>
<div class="banner-overlay">
    <div class="banner-layer"></div>
    <div class="banner-description">
        <h1>COMPANY NAME</h1>
        <h2>Lorem ipsum sit dolor init</h2>
        <button mat-flat-button class="btn_pendaftaran">Registration new Employee</button>
    </div>
</div>
</div>