<mat-toolbar class="header-menu-section">
    <!-- <img src="assets/images/...png" alt="logo" class="logo">  jika ingin image icon-->
    <h1 class="logo-text"> Logo Company</h1>
    <span class="spacer"></span>
    <button mat-icon-button class="menu-btn" aria-label="menu-btn" >
        <mat-icon>menu</mat-icon>
    </button>

    <div class="menu-collapse">
        <mat-list role = "list" class="list-menu">
            <mat-list-item (click)="gotoDiv('beranda')"><span>Beranda</span></mat-list-item>
            <mat-list-item (click)="gotoDiv('about')"><span>About</span></mat-list-item>
            <mat-list-item (click)="gotoDiv('news')"><span>News</span></mat-list-item>
            <mat-list-item (click)="gotoDiv('achievement')"><span>Achievement</span></mat-list-item>
            <mat-list-item (click)="gotoDiv('employee')"><span>Employee</span></mat-list-item>
            <mat-list-item (click)="gotoDiv('login')"><span>Login</span></mat-list-item>
        </mat-list>
    </div>
</mat-toolbar>