mat-toolbar.header-menu-section {
    height: 5rem;
     background-color: transparent; 
    /* dibuat transparent karna akan menggunakan animation jika tidak ganti saja cg colornya */ 
    position: absolute;
    z-index: 2;
    animation: fadeIn 250ms ease-in;
  }
  mat-toolbar.header-menu-section.sticky-nav .logo-text{
    color: black;
  }
  mat-toolbar.header-menu-section .logo {
    width: 4rem;
    height: auto;
  }
  mat-toolbar.header-menu-section .logo-text{
    font-weight: bold;
    color: white;
  }
  mat-toolbar.header-menu-section .spacer {
    flex: 1 1 auto;
  }
  mat-toolbar.header-menu-section .menu-collapse {
    display: flex;
    flex-flow: row;
  }
  
  mat-toolbar.header-menu-section .menu-collapse .list-menu {
    display: flex;
    list-style-type: none;
    flex-flow: row;
    padding: 0;
    align-items: center;
    margin: 0;
    gap: 1.5rem;
  }
  
  mat-toolbar.header-menu-section .menu-collapse .list-menu mat-list-item {
    overflow: visible !important;
  }
  mat-toolbar.header-menu-section
    .menu-collapse
    .list-menu
    .mat-mdc-list-item
    span {
    color: white;
  }
  mat-toolbar.header-menu-section
    .menu-collapse
    .list-menu
    .mat-mdc-list-item:hover
    span,
  mat-toolbar.header-menu-section
    .menu-collapse
    .list-menu
    .mat-mdc-list-item
    span.active {
    cursor: pointer;
    color: #009d4e !important;
  }
  
  mat-toolbar.header-menu-section
    .menu-collapse
    .list-menu
    .mat-mdc-list-item
    span {
    font-family: "Poppins", sans-serif !important;
    font-weight: 800 !important;
    font-size: 14px;
  }
  mat-toolbar.header-menu-section .menu-collapse .list-menu mat-list-item {
    padding: 0 !important;
  }
  
  mat-toolbar.header-menu-section .menu-btn {
    display: none;
    color: white;
    border: none !important;
    background: transparent;
  }
  mat-toolbar.header-menu-section.sticky-nav  .menu-btn{
    color: black;
  }
  mat-toolbar.header-menu-section.sticky-nav {
    background-color: white;
    position: fixed;
    top: 0;
    animation: easeIn 150ms ease-in;
  }
  mat-toolbar.header-menu-section.sticky-nav
    .menu-collapse
    .list-menu
    .mat-mdc-list-item
    span {
    color: black;
  }
  
  @keyframes easeIn {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
  @keyframes fadeIn {
    from {
      background-color: white;
    }
    to {
      background-color: transparent;
    }
  }
  
  @media (max-width: 730px) {
    mat-toolbar.header-menu-section .menu-collapse {
      display: none;
    }
    mat-toolbar.header-menu-section .menu-btn {
      display: block;
    }
  }