<mat-toolbar class="tiny-information-section">
   <span class="section-email"><i class="fa-regular fa-envelope"></i> companyname&#64;gmail.com</span>
   <span class="section-phone"><i class="fa-solid fa-phone"></i>085699779398 </span>
    <span class="spacer"></span>
    <div class="information-flag">
        <img src="assets/images/indonesia.png" alt="indonesianflag" class="flag indonesian-flag" >
        <img src="assets/images/united-kingdom.png" alt="britishflag" class="flag british-flag" >
    </div>

</mat-toolbar>